body {
    background-image: linear-gradient(to top, #9b56c1, #106b87);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-image: linear-gradient(to bottom, #260d33, #4f1b6c);
    background-color: #260d33;
    color: #FFF;
    margin: auto;
    width: 600px;
    text-align: center;
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    overflow: hidden;
    padding: 0.3rem;
    
}

.header h2 {
    color: #74e5f9;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
}

.header ul {
    list-style-type: none;
    color: #FFF;
    padding: 0.0rem; 
    font-size: 14px;
    margin: 30px;
}

.header ul li {
    margin-bottom: 10px;
}

.sub-container {
    background-image: linear-gradient(to bottom, #260d33, #4f1b6c);
    width: 90%;
    margin: auto;
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
}

.sub-container h3 {
    font-size: 19px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    padding: 0.3rem;
}

input {
    width: 70%;
    height: 1.5rem;
    font-size: 0.6rem;
    border-radius: 0.3rem;
    border: none; 
    margin: 0.7rem;
    padding-left: 0.6rem;
}

input:focus {
    outline: 2px solid #74e5f9;
    box-shadow: 0 0 10px #74e5f9;
}

.col-1, .col-2, .col-3 {
    margin: 18px;
    display: flex;
    flex-direction: column;
    background-color: #106b87;
    color: #FFF;
    border-radius: 0.3rem;
    width: 22%;
    padding: 1.0rem;
    outline: 2px solid #74e5f9;
    box-shadow: 0 0 10px #74e5f9;
}
object {
    margin: 0.8rem;
}

button {
    margin: auto;
    color: #FFF;
    padding: 0.6rem;
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 70%;
    background-color: #000000;
    
}
button:hover {
    background-color: #FFF;
    color: #000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.note {
    color: #C0C0C0;
    font-size: 0.6rem;
    padding: 0.5rem;
  
}